* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0f172a;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #111827;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 4rem;
}

.hero h3 {
    margin-top: 10px;
    color: #38bdf8;
}

.hero p {
    max-width: 700px;
    margin: 20px auto;
}

.btn {
    background: #38bdf8;
    color: black;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 80px 10%;
}

section h2 {
    margin-bottom: 30px;
    text-align: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.project-card {
    background: #1e293b;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.project-card h3 {
    color: #38bdf8;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111827;
}

@media(max-width:768px) {

    nav {
        flex-direction: column;
        gap: 15px;
    }

    .hero h1 {
        font-size: 2.5rem;
    }
}